.title {
    background-color: blue;
    text-align: center;
    color: white;
    float: left;
    width: 150px;
    height: 1000px;
    margin-right: 12px;
    padding-top: 10px;
}

.arrName {
    font-size: 30px;
    font-weight: bold;
}

.content {
    padding-top: 20px;
}

dt {
    font-weight: bold;
    margin-right: 10px;
}

dd {
    margin: 0 0 10px;
    margin-right: 30px;
}

.float {
    float: left;
}

dl {
    overflow: auto;
}